env:
  - name: SERVER_PORT
    value: "{{ .Values.global.app.port }}"
  - name: DATABASE_HOST_NAME
    value: "{{ .Values.global.backend.pgbouncer.hostName }}"
  - name: DATABASE_PORT
    value: "{{ .Values.global.backend.pgbouncer.port }}"
  - name: DATABASE_NAME
    value: "{{ .Values.global.backend.database.name }}"
  - name: DATABASE_USERNAME
    value: "{{ .Values.global.backend.database.username }}"
  - name: DATABASE_PASSWORD
    value: "{{ .Values.global.backend.database.password }}"
