env:
  - name: SERVER_PORT
    value: "{{ .Values.global.app.port }}"
  - name: SPRING_DATASOURCE_URL
    value: "jdbc:{{ .Values.global.backend.pgbouncer.host }}"
  - name: SPRING_DATASOURCE_USERNAME
    value: "{{ .Values.global.backend.database.username }}"
  - name: SPRING_DATASOURCE_PASSWORD
    value: "{{ .Values.global.backend.database.password }}"
