node_modules
npm-debug.log
yarn-debug.log
yarn-error.log
package-lock.json
yarn.lock

.env
.env.*
.npmrc
.yarnrc
.editorconfig

Dockerfile*
.dockerignore

target/
.mvn/
pom.xml

.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db
